@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Red+Hat+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@600&display=swap");

/* ||RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
form,
select {
  font: inherit;
}

:root {
  /*FONTS */
  --FF: "Red Hat Text", sans-serif;
  --FF-HEADING: "Raleway", sans-serif;
  --FW: 400;
  --FW-HEADING: 500;
  --FS: clamp(1rem, 2.5vh, 2.25rem);
  --FSTY: normal;

  --LIGHTGREY: #abb2d3ff;
  --DARK: #0f1733;
  --MEDGREY: #464655ff;
  --MED: #4e5271ff;
  --LIGHTGREEN: #acc5be;
  --OFFWHITE: #edf5ffff;
  --BGCOLOR: #e2ecff;
  --BORDER-COLOR: #333;

  --PADDING-TB: 0.5em;
  --PADDING-RL: 2.5%;

  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;
  --BODY-MARGIN: 6rem;
}

/* || UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

/* || PAGE */

html {
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);
  font-optical-sizing: auto;
  font-weight: var(--FW);
  font-style: var(--FSTY);
  background: var(--BGCOLOR);
}

body {
  color: var(--DARK);
  background-color: var(--OFFWHITE);
  min-height: 100vh;
  max-width: clamp(900px, 70%, 1200px);
  margin: auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  box-shadow: 0 0 10px var(--BORDER-COLOR);
}
ul {
  list-style: none;
}
.marked-list {
  list-style: disc;
}
.marked-list li {
  padding-left: 1rem;
  line-height: 1.5rem;
}
/* || NAV BAR */

nav ul {
  list-style-type: none;
  text-align: left;
  background-color: var(--MED);
  margin-left: 0;
  padding-left: 0;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: var(--BGCOLOR);
}

/* || HERO */

.hero {
  position: relative;
}

h1,
h2 {
  text-align: center;
  color: var(--OFFWHITE);
  text-shadow: 2px 2px 5px #000;
  font-family: var(--FF-HEADING);
  font-weight: var(--FW-HEADING);
  position: absolute;
}

h1 {
  font-size: clamp(3rem, 8.3vw, 8rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size: clamp(1.25rem, 2.8vw, 2.5rem);
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

/* || GENERAL */
h3,
h4,
h4 {
  font-family: var(--FF);
  font-weight: var(--FW);
}
h3 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.75rem;
  margin-top: 1.5rem;
}
h4 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.15rem;
}
h5 {
  font-size: 1rem;
}

footer {
  background-color: var(--MED);
  color: var(--OFFWHITE);
  padding: var(--PADDING-TB);
  text-align: center;
}

.main__element,
p,
form,
figure,
table {
  margin: 1rem;
  margin-left: var(--BODY-MARGIN);
  margin-right: var(--BODY-MARGIN);
}
main ul {
  margin-left: var(--BODY-MARGIN);
  margin-right: var(--BODY-MARGIN);
  padding-left: 2rem;
}
h3,
h4 {
  margin-left: var(--BODY-MARGIN);
}
/* Overlay Images */

.feature {
  margin-right: var(--BODY-MARGIN);
  margin-left: var(--BODY-MARGIN);
  background-color: var(--LIGHTGREEN);
  padding: 2rem;
  padding-left: 1.25rem;
  border-left: 0.75rem solid var(--MEDGREY);
  box-shadow: 3px 3px 8px var(--MEDGREY);
}

.overlay-text {
  font-size: clamp(1.75rem, 2.2vw, 2.5rem);
  font-family: var(--FF);
  color: var(--DARK);
  padding-top: 1rem;
}

.feature-img {
  aspect-ratio: 16/5;
  object-fit: cover;
}
/*||BUTTONS and or links as buttons */
.button-trio {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3%;
  margin: 2% var(--BODY-MARGIN);
}

.button-container {
  position: relative;
}

.button-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 15px var(--DARK);
}
.button-container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(203, 246, 255, 0.35);
  width: 100%;
  height: 100%;
  color: rgb(245, 247, 255);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  align-content: center;

  font-size: clamp(1.5rem, 4.5vw, 2.75rem);
  font-family: var(--FF);
  font-weight: 600;
  line-height: 0.9em;
  text-shadow: 0 0 10px black;
  text-decoration: none;
  text-align: center;
}

.button-container a:hover {
  background-color: transparent;
}

/*About Page*/
.grid-container {
  display: block;
}
.grid-element p {
  margin: 0;
  padding: 0;
}

.section-one {
  display: block;
  margin: 0 6rem;
}
.section-two {
  display: block;
  margin: 1rem 6rem;
  margin-bottom: 5rem;
}
.main__quote {
  font-size: 2rem;
}

.about__img {
  width: min(45%, 450px);
  float: left;
  padding-right: 1rem;
}
.about__img2 {
  width: min(40%, 400px);
  float: right;
  padding-left: 1rem;
}
.grid-element {
  padding: 0 0 1rem 0;
}
#final-line {
  font-size: 1.5rem;
}

/*Contact form */

.contact-form {
  display: grid;
  grid-template-columns: auto;
  gap: 1em;
  background-color: var(--LIGHTGREEN);
  padding: 2rem;
  width: 60%;
  border-radius: 0 5%;
  box-shadow: 2px 2px 15px var(--MEDGREY);
  margin-top: 2rem;
}

.contact-form div {
  display: grid;
}

.contact-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5%;
  padding: 0 5%;
}
button {
  background-color: var(--MED);
  color: var(--OFFWHITE);
  border-radius: 5px;
  border: 1px solid var(--MED);
  box-shadow: inset 0 0 5px #858585;
  outline: none;
  padding: 0.25rem;
}
button:active {
  background: var(--MEDGREY);
  box-shadow: inset 0px 0px 2px #000000;
  outline: none;
}

/* project display */
.project-container {
  justify-items: center;

  .img-slides {
    max-height: 600px;
    margin: 1rem;
    border-radius: 40px;
    box-shadow: 2px 2px 20px 0px var(--MED);
  }
}
.slide-button {
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem;
  color: var(--OFFWHITE);
  background-color: var(--MEDGREY);
  border-radius: 6px;
}

/*Cost form*/
.form-label {
  padding-left: 0.25em;
  padding-right: 2em;
}

.form-opt {
  margin: 0.75rem;
}

.cost-form {
  display: grid;
  background: var(--LIGHTGREEN);
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);
  border-radius: 15px;
  box-shadow: 0 0 10px var(--BORDER-COLOR);
  padding: 1.5em;
  max-width: 800px;
  min-width: 500px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
#form__heading {
  grid-column: span 2;
  text-align: center;
  margin: 0;
}

.form__1min[disabled],
.form__2min[disabled],
.form__2max[disabled] {
  display: none;
}

#cost {
  font-size: clamp(2rem, 3.5vh, 3rem);
}
.form__section {
  padding: 0.5rem;
}
#form__foot {
  grid-column: span 2;
  text-align: center;
}
#form__button {
  padding: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
}

/*Table of Rates*/
td,
th {
  text-align: left;
}
table {
  min-width: 400px;
  width: 80%;
}
.bottom-capt {
  font-size: 0.75rem;
  text-align: left;
  padding-top: 1.5rem;
}

/*class page*/

.class-link li a {
  text-decoration: none;
  color: var(--DARK);
}
.class-link li a:hover {
  color: var(--LIGHTGREY);
}
.class-link {
  padding-bottom: 1rem;
}

.main-class {
  margin: 1.5rem 5rem;
}
.main-class h3,
.main-class h4 {
  margin: 0;
}

#class-info {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-bottom: 0.5rem;
}
.info-item {
  border: solid 2px var(--LIGHTGREY);
  border-radius: 15px;
  width: 95%;
  justify-self: center;
  text-align: center;
  padding-bottom: 1rem;
}
#description {
  margin: 0;
}
.list-of ul {
  margin: 0;
}

@media only screen and (max-width: 1080px) {
  p,
  .main__element,
  h3,
  h4,
  figure,
  main ul,
  table {
    margin: 1rem;
    padding: 0.5rem 1rem;
  }
  body {
    width: max(200px 100%);
    margin: auto;
  }
  .button-trio,
  .feature {
    margin: 0;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  h2 {
    font-size: 1rem;
  }

  form,
  .cost-form,
  .form__section {
    border-radius: 0;
    display: block;
  }
  .contact-form {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .section-one,
  .section-two {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  /*reset*/
  p,
  .main__element,
  h3,
  h4,
  figure,
  main ul,
  table,
  .section-one,
  .section-two,
  .main-class {
    margin: 0;
    padding: 0.5rem 1rem;
  }

  .contact-form {
    width: 100%;
    border-radius: 0;
  }

  body {
    width: 100vw;
    margin: 0;
  }

  h1 {
    font-size: 12vw;
  }
  h2 {
    display: none;
  }
  .feature {
    width: 100%;
  }

  .button-trio,
  .feature {
    margin: 0;
    padding: 0.5rem;
  }

  table {
    min-width: 200px;
  }
  table,
  th,
  td {
    padding: 0.1em;
    margin: 0;
    font-size: 0.75rem;
  }

  form,
  .cost-form,
  .form__section {
    border-radius: 0;
    display: block;
    margin: 0;
    padding: 0;
  }

  #form__button {
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .cost-form {
    min-width: 200px;
  }

  .main__rates {
    margin-left: 0.5em;
  }

  .button-trio {
    display: block;
  }
  .button-container img,
  .button-container a {
    border-radius: 0;
  }
  .button-container {
    margin-top: 1rem;
  }
  .button-container img {
    aspect-ratio: 16/4;
    object-fit: cover;
  }

  .main__about,
  .class-info {
    display: block;
  }
  .about__img,
  .about__img2 {
    float: none;
    width: 100%;
    padding: 0 0 1rem 0;
  }
  #class-info {
    display: block;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    max-width: 1200px;
    margin: auto;
  }
}
